.Northern {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #EE82EE;
}

.Southern {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #7FFFD4;
}